<%- include('partials/header') %>

<section>
  <div class="container">
    <header>
      <a href="#" class="logo">Mysteries</a>
      <ul>
        <li><a href="/register">SignUp</a></li>
        <!-- <li><a href="/login">Login</a></li> -->
      </ul>
    </header>
    <div class="content">
      <h2>Login</h2>

      <div class="row">
        <div class="col-sm-8">
          <!-- Makes POST request to /register route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" />
            </div>
            <button type="submit" class="btn btn-danger">Login</button>
          </form>
        </div>

        <div class="col-sm-4">
          <div class="card social-block mt-4">
            <a
              class="btn btn-block btn-social btn-google pr-0"
              href="/auth/google"
              role="button"
            >
              <i class="fab fa-google"></i>
              Login with Google
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="imgBx">
      <img src="../assets/sideimg.png" alt="side image" />
    </div>
  </div>
</section>

<%- include('partials/footer') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <% usersWithSecrets.forEach(function(user) { %>
    <p class="secret-text"><%=user.secret%></p>
    <% }) %>

    <hr />

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>

admin Rahul memory memories mongodb+srv://admin:<password
  >@cluster0.qh5v2xc.mongodb.net/?retryWrites=true&w=majority
</password>
