<%- include('partials/header') %>

<section>
  <div class="container">
    <header>
      <a href="#" class="logo">Mysteries</a>
      <ul>
        <li><a href="/register">SignUp</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </header>
    <div class="content">
      <h2>Mysteries</h2>
      <p>
        Mysteries is an online platform where you can share your secrets
        anonymously without fear of judgment or consequences. It is secure and
        confidential, and we will make sure it stays anonymous. We believe that
        everyone has a story to tell, and sometimes those stories are best told
        anonymously. Sign up to share your secret with us and join others who
        have found comfort in knowing that they're not alone. Remember, your
        secret is safe with us.
      </p>
    </div>

    <div class="imgBx">
      <img src="../assets/sideimg.png" alt="side image" />
    </div>
  </div>
</section>

<!-- <div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div> -->

<%- include('partials/footer') %>
