<%- include('partials/header') %>

<section>
  <div class="container">
    <header>
      <a href="#" class="logo">Mysteries</a>
      <ul>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </header>
    <div class="content" style="">
      <% usersWithSecrets.forEach(function(user) { %>
      <p class="secret-text"><%=user.secret%></p>
      <% }) %>

      <hr />

      <a class="btn btn-danger btn-m" href="/submit" role="button"
        >Submit a Secret</a
      >
    </div>

    <div class="imgBx">
      <img src="../assets/sideimg.png" alt="side image" />
    </div>
  </div>
</section>

<%- include('partials/footer') %>
