body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  /* background-color: #fff; */
}

@import url("https://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
}

.container {
  position: relative;
  width: calc(100% 100px);
  min-height: calc(100vh 280px);
  min-height: 300px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

header {
  position: absolute;
  top: -40px;
  right: 20px;
  left: 20px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid Orgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .logo {
  color: #8a2435;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
}

header ul {
  display: flex;
}
header ul li {
  list-style: none;
  margin: 0 10px;
}

header ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #8a2435;
  padding: 8px 15px;
  border-radius: 25px;
}
header ul li a:hover {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.content {
  transform: translateX(-100px);
  max-width: 800px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid Orgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  padding-left: 110px;
}
.content h2 {
  font-size: 2.5em;
  color: #8a2435;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2em;
  color: #8a2435;
  line-height: 1.5;
  margin-bottom: 20px;
}

.imgBx img {
  bottom: 20px;
  max-width: 400px;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-50px);
  }
}

@media (max-width: 1200px) {
  .container {
    position: relative;
    width: calc(100% - 20px);
  }
}

@media (max-width: 992px) {
  section {
    padding: 50px 10px 10px;
  }
  .container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  .container .content {
    transform: translateX(0px);
    max-width: 100%;
    padding: 30px;
    margin-top: 40px;
  }
  header {
    position: relative;
    flex-direction: column;
    width: 100%;
    top: -60px;
    padding: 20px;
  }

  header ul {
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  header ul li {
    margin: 2px;
  }
  header ul li a {
    display: inline-block;
  }
}
